*.vs
*.csproj.user
**/%LocalAppData%/
**/_Publish/
**/bin/
**/obj/
**/Content
assets_original/Content
assets_original/Data

ladxhd_patcher_source_code/Patches

ladxhd_game_source_code/ProjectZ.Core/Data/
ladxhd_game_source_code/ProjectZ.Content/Content/
ladxhd_game_source_code/ProjectZ.Content/Precompiled/Android/
_final_releases/
dist/ap-test/
dist/*.apk
dist/*.idsig
.local/
*.keystore
*.jks
*.p12
*.password
*signing-lineage*.bin

**/__pycache__/
*.pyc
